@model AttendanceManagementSystem.Models.PersonDetails
@{
    ViewBag.Title = "StaffDashboardCard";
    Layout = "~/Views/Shared/StaffDashboardLayout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script>
    $(document).ready(function () {
        if ('@ViewBag.Updated' == "True") {
            alert("Record updated successfully....")
            window.location.href = "/StaffDashboard/StaffDashboardCard";
        }
        else if('@ViewBag.Updated' == "False") {
            alert("Some error occured....")
        }

    });
</script>

<div class="card" style="box-shadow: 0 1px 4px rgb(0 0 0 / 30%), 0 0 40px rgb(0 0 0 / 10%) inset">
    <div class="card-header"><center><h2>My Profile</h2></center></div>

    <div class="card-body">
        @using (Html.BeginForm("StaffDashboardCard", "StaffDashboard", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3"><label style="font-size:large">Name </label></div>
                        <div class="col-sm-3"><h4 style="color: #6f52e3">@Model.PersonName</h4></div>

                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3"><label style="font-size:large">Standard Of </label></div>
                        <div class="col-sm-3"><h4 style="color: #6f52e3">@Model.Standard</h4></div>

                    </div>
                </div>
                <div class="col-sm-3">
                    <div style="border:1px solid;height:150px;width:120px;">
                        @if (Session["FileName"].ToString() != null && Session["FileName"].ToString() != "")
                        {
                            <img src="~/UploadedFiles/Staff/@Session["FileName"].ToString()" style="height: 150px; width: 120px;" />
                        }
                    </div>
                </div>
            </div>

            <br />
            @Html.HiddenFor(model => model.PersonId)
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-2"><label style="font-size:large">Email</label> <r style="color:red">*</r> </div>
                <div class="col-sm-3">
                    @Html.TextBoxFor(model => model.Emailid, new { @class = "form-control", @type = "email" })
                </div>
                <div class="col-sm-2"><label style="font-size:large">Mobile</label> <r style="color:red">*</r> </div>
                <div class="col-sm-3">
                    @Html.TextBoxFor(model => model.MobileNo, new { @class = "form-control", @maxlength = "10" })
                </div>
                <div class="col-sm-1"></div>
            </div>

            <br />
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-2"><label style="font-size:large">Address</label> <r style="color:red">*</r> </div>
                <div class="col-sm-3">
                    @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @style = "resize:none" })
                </div>
                <div class="col-sm-2"><label style="font-size:large">City</label> <r style="color:red">*</r> </div>
                <div class="col-sm-3">
                    @Html.TextBoxFor(model => model.City, new { @class = "form-control" })
                </div>
                <div class="col-sm-1"></div>
            </div>

            <br />
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-2"><label style="font-size:large">Pincode</label> <r style="color:red">*</r> </div>
                <div class="col-sm-3">
                    @Html.TextBoxFor(model => model.Pincode, new { @class = "form-control" })
                </div>
                <div class="col-sm-2"><label style="font-size:large">My Pic </label> <r style="color:red">*</r> </div>
                <div class="col-sm-3">
                    @Html.TextBoxFor(model => model.file, new { @type = "file", @id = "fileselector", @accept = ".jpg, .jpeg, .png" })
                </div>
                <div class="col-sm-1"></div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 text-center">
                    @*<input type="button" class="btn btn-info" value="Update" style="width:50%;display:none" onclick="ValidationStandard('ForUpdate')" id="updatebtn" />*@

                    <input type="button" class="btn btn-success" value="Update" style="width:50%" onclick="UpdateStaffDetails()" id="addbtn" />
                </div>
                <div class="col-sm-4"></div>

            </div>
        }

    </div>
</div>

<script>


    function UpdateStaffDetails() {
        debugger

        if ($('#Emailid').val() == "" || $('#Emailid').val() == undefined) {
            alert("Please enter emailid... ");
            $('#Emailid').focus();
            return false;
        }
        if ($('#MobileNo').val() == "" || $('#MobileNo').val() == undefined) {
            alert("Please enter mobile number...");
            $('#MobileNo').focus();
            return false;
        }

        if ($('#Address').val() == "" || $('#Address').val() == undefined) {
            alert("Please enter address... ");
            $('#Address').focus();
            return false;
        }
        if ($('#City').val() == "" || $('#City').val() == undefined) {
            alert("Please select city...");
            $('#City').focus();
            return false;
        }
        if ($('#Pincode').val() == "" || $('#Pincode').val() == undefined) {
            alert("Please enter pincode...");
            $('#Pincode').focus();
            return false;
        }

        if ($('#fileselector').val() == "" || $('#fileselector').val() == undefined) {
            alert("Please select photo...");
            $('#fileselector').focus();
            return false;
        }
        else {
            $('#addbtn').attr('type', 'submit');
        }
    }
</script>
